.container {
  width: 100%;
  height: 100vw;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.6);
  top: 0;
}
.navigation {
  background-color: white;
  width: 25vw;
}
.container > div > .MuiSvgIcon-root {
  color: white;
  font-size: 32px;
  padding: 7px;
}
.container > div > .MuiSvgIcon-root:hover {
  cursor: pointer;
}
.nav_top {
  background-color: #232f3e;
  color: white;
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}
.nav_top > .MuiAvatar-root {
  margin-left: 15px;
  margin-right: 15px;
}
.nav_options {
  padding: 10px;
  padding-left: 25px;
}
.navigation > h3 {
  padding: 10px;
  padding-left: 25px;
}
.nav_options:hover {
  background-color: rgb(212, 217, 218);
  cursor: pointer;
}
